.container{
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container h1{
    color: var(--white);
}  

.form{
    display: flex;
    flex-direction: column;
    margin:1rem 0 ;
}

.input{
    background-color: var(--dark);
    border: none;
    padding: 1rem;
    border-radius: 4px;
    height: 40px;
    color: var(--white);
}

.button{
height: 40px;
border: 0;
background-color: var(--green);
font-weight: bold;
font-size:1rem;
border-radius: 4px;
color: var(--dark2);
margin-top: 12px;
}

